<div class="container pt-5">
    <div class="row">
        <div class="col text-left px-0">
            <h1>Galería</h1>
            <hr>
        </div>
        <div class="col"></div>
        <div class="col"></div>
    </div>
    <div class="row pt-3" >
        <div class="col"  id="imagen-galeria">
            <img src="./../../assets/galeria1.jpg" alt="" class="img-fluid">
        </div>
        <div class="col"  id="imagen-galeria">
            <img src="./../../assets/galeria2.jpg" alt="" class="img-fluid">
        </div>
        <div class="col"  id="imagen-galeria">
            <img src="./../../assets/galeria3.jpg" alt="" class="img-fluid">
        </div>
        <div class="col"  id="imagen-galeria">
            <img src="./../../assets/galeria4.jpg" alt="" class="img-fluid">
        </div>
        <div class="col"  id="imagen-galeria">
            <img src="./../../assets/galeria5.jpg" alt="" class="img-fluid">
        </div>
    </div>
    <div class="row py-5 text-center">
        <div class="col">
            <h5>Elige tu producto favorito explorando nuestra galería</h5>
            <br>
            <button class="btn btn-naranja" (click)="enrutarListaProductos()">Ver galería</button>
        </div>
    </div>
</div>
