<div class="container-fluid form-contenedor text-center">
  <div class="row px-0 py-5 mx-0 formulario-contenedor">
    <div class="col px-0">
        <h2 style="color: #000" class="py-3">Ayúdanos a mejorar :)
          <img
          src="./../../../assets/formulario-de-llenado.png"
          alt=""
          class="img-fluid px-0"
          />
        </h2>
        <h5><a href="" class="btn-form px-0">Haz click aquí</a></h5>
    </div>
  </div>
</div>


<div id="marcas-contenedor" class="text-center pt-5 pb-5">
  <div class="row px-0">
    <div class="col px-0">
      <div class="row mb-5 px-0 text-center">
        <div class="col-4 px-0 text-end logo-unique">
          <img
            src="./../../../assets/logo_unique.png"
            alt="unique"
            class="img-fluid"
          />
        </div>
        <div class="col-4 px-0">
          <img
            src="./../../../assets/logo_natura.png"
            alt="unique"
            class="img-fluid"
          />
        </div>
        <div class="col-4 px-0 text-start logo-esika">
          <img
            src="./../../../assets/logo_esika.png"
            alt="unique"
            class="img-fluid"
          />
        </div>
      </div>
      <div class="row text-center">
        <div class="col-6 text-end">
          <img
            src="./../../../assets/logo_oriflame.png"
            alt="unique"
            class="img-fluid"
          />
        </div>
        <div class="col-6 text-start logo-cyzone">
          <img
            src="./../../../assets/logo_cyzone.png"
            alt="unique"
            class="img-fluid"
          />
        </div>
      </div>
    </div>
  </div>
</div>